{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<div class="div-center">
    <div class="content">
      <h3>Sign up</h3>
      <hr />
      <form method="POST">
        <div class="form-group">
          <label for="inputEmail">Email address</label>
          <input 
          type="email" 
          class="form-control" 
          id="inputEmail" 
          name="inputEmail"
          placeholder="Email">
        </div>
        <div class="form-group">
          <label for="inputPassword1">Password</label>
          <input 
          type="password" 
          class="form-control" 
          id="inputPassword1"
          name="inputPassword1" 
          placeholder="Password">
        </div>
        <div class="form-group">
            <label for="inputPassword2">Repeat Password</label>
            <input 
            type="password" 
            class="form-control" 
            id="inputPassword2" 
            name="inputPassword2" 
            placeholder="Password">
          </div>
        <button type="submit" class="btn btn-primary">Sign up</button>

        <hr />
        <button type="button" class="btn btn-link" 
        onclick="location.href='/sign-in'">Sign-in</button>
        <button type="button" class="btn btn-link">Reset Password</button>
      </form>

    </div>


{% endblock %}